body {
  margin: 0;
  padding: 0;
}

.logo {
  margin: 8px;
  white-space:nowrap;
  color: white;
}

.logo__image--large {
  height: 2em;
  vertical-align: middle;
  padding-right: 7px;
}

.homepage__headline {
  font-size: 1.5em;
  margin-bottom: .25em;
  color: #444;
}

.homepage__subheadline {
  font-size: 1.125em;
  margin: 0;
  color: #444;
}

@media only screen and (min-width: 48em) {
  .homepage__headline {
    font-size: 2em;
  }

  .homepage__subheadline {
    font-size: 1.5em;
  }
}

.homepage__form-container {
  background-color: #FFF;
  padding: 1em;
  margin: 5em 0 0 0;
  border-radius: 0em 1em 0em 1em;
}

.logo__text--large {
  font-family: Roboto,Helvetica,Arial,sans-serif;
  font-size: 2em;
  font-weight: 700;
  vertical-align: middle;
  font-style: italic;
}

.blurred-background {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  filter: blur(0px);
  transform: scale(1.1); /* Scales image so no white edges! */
}

.blurred-background__image {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  overflow: hidden;
  background-image: url(../assets/home_bg.png);
  background-size: cover;
  filter: blur(20px);
}

.directory-entry__location-name {
  line-height: 2em;
  margin: 0px;
}

.directory-entry__location-line {
  line-height: 1.2em;
  margin: 0px;
}

.directory-entry__icon{
  font-size: 16px !important;
  position: relative;
  top: 2px;
  margin-right:2px;
}

.directory-entry__icon--fail{
  color: red;
}

.directory-entry__icon--pass{
  color: green;
}

.directory-entry__cta-buttons {
  margin: 20px 0 25px 0;
}

.directory-entry__other-line {
  line-height: 1.2em;
  margin: 0px;
}

.headline-header__headline {
  font-size: 21px;
  margin: 0;
}

@media only screen and (min-width: 48em) {
  .headline-header__headline {
    font-size: 28px;
  }
}

.search-results-page {
  padding: 12px 24px;
}
